@import '@/assets/scss/vars';
@import '@/assets/scss/mixins';

$root: '.form';
#{$root} {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    font-size: 18px;
  }
}