@import '@/assets/scss/vars';
@import '@/assets/scss/mixins';

$root: '.search';
#{$root} {
  display: flex;
  align-items: center;
  gap: 8px;

  &__btn {
    padding: 0;
    border: none;
    width: 20px;
    min-width: 20px;
    height: 20px;

    &:hover,
    &:active {
      background-color: inherit;
    }

    &__icon {
      width: 100%;
      height: 100%;
    }

    &__input {
      border: none;
      border-bottom: 1px solid gray;

      :deep(.input) {
        border: none;
      }
    }
  }
}